[id^="terminal_"] {
    transition: fill 1s, transform 1s;
    transform-origin: center;
    transform-box: fill-box;
}
[id^="terminal_"]:hover {
    fill: red;
    transform: scale(1.2);
}
[id^="routeline_"] {
    transition: stroke 1s, stroke-width 1s;
    transform-origin: center;
    transform-box: fill-box;
}

[id^="routeline_"]:hover,
.routeline-active {
    stroke: rgb(8, 185, 255);
    stroke-width: 10px;
}

[id^="popup_"] {
    opacity: 0;
    transition: opasity .4s;
}

.popup-open {
    opacity: 1;
}
[id^="bus_"] {
    transition: transform .4s;
    transform-origin: center;
    transform-box: fill-box;
}
[id^="bus_"]:hover,
.bus-active {
    transform: scale(1.2);
}